@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  background: linear-gradient(45deg,#735092,#ff8466,#ff6f4c);;
  overflow-x: hidden; }

.container-fluid {
  margin: 0;
  padding: 0; }

#carrusel {
  background: linear-gradient(45deg,#735092,#ff8466,#ff6f4c); }

#carrusel {
  padding-top: 100px; }

h2 {
  font-size: 45px;
  margin-left: 20px;
  color: white;
  font-family: 'Satisfy', cursive; }
  
  p {
  margin-left: 15px;
  }

.texto__destacadas--tamanio {
  color: white;
  font-size: 20px;
  font-family: 'Rubik', sans-serif; }

nav {
  background-image: linear-gradient(to right, black, #919dab); }

.navbar-light .navbar-brand {
  color: white;
  text-shadow: 0 0 20px white; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

  .sci {
  position: absolute;
  display: flex;
  justify-items: center;
  color: white;
  bottom:-1120px;
  right: 600px;
}
.sci h3 {
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
}
.sci li {
  list-style: none;
  margin-left: 20px;
}
.sci li img {
  max-width: 30px;
}

@media only screen and (max-width: 767px) {
  .footer h5 {
    color: white;
    text-align: center; } }

#carrusel h2 {
  padding-left: 15px;
  font-size: 45px; 
}
  p {
  margin-left: 15px;
  }
