@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Martel:wght@200&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container-fluid {
	margin: 0;
	padding: 0; }

.bg-light {
   background-color: transparent!important; }

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(45deg,#735092,#ff8466,#ff6f4c); }

nav {
 		display: flex;
 		flex-direction: row;
 		justify-content: flex-start;
	 	font-style: normal;
	 	font-weight: normal; }

.navbar-light .navbar-brand {
  padding-top: 20px;
  margin-left: 50px; }

.navbar-light .navbar-nav .nav-link {
  padding-top: 25px;
  font-size: 20px;
  color: white; }

.navbar-nav {
  margin-left: auto;
   margin-right: 80px;
  font-family: 'Rubik', sans-serif; }

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px; 
  font-family: Montserrat , sans-serif;}

.container:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-size: cover; 
  z-index: -1; 
  filter: blur(30px) ; }

  .contact-box {
   max-width: 850px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #fff; 
   box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.19);}

   .left {
    height: 100%; 
    background: url("../assets/images/contact.jpg") no-repeat center; 
    background-size: cover; }

    .right {
    padding: 25px 40px; }

h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom:10px; }

h3:after{
  content: "";
  position: absolute;
  left:50%;
  bottom:0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: blue; }

  .field{
  width: 100%;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
   padding: 0.5rem 1rem;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem; 
  margin-bottom: 22px; 
  transition: .3s; }

.field:after{
  background-color:rgba(0, 0, 0, 0.1) ; }

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47); }

.area {
  min-height:150px; }

.btn {
 width: 100%;
 padding:0.5rem 1rem;
 font-size: 1.1rem; 
 background-color: lightblue;
 cursor: pointer;
 outline: none;
 border: none;
transition: .3s; }

.btn:hover{
  background-color: grey; }

.small-icon1 {
    width: 400px;
    position: absolute;
    left: 0px;
    top: 80px;
    opacity: 0.3;
    transform: rotate(30deg);
    z-index: -1;}

.small-icon2 {
    width: 250px;
    position: absolute;
    left: 100px;
    bottom: 70px;
    opacity: 0.3;
    transform: rotate(30deg); 
    z-index: -1;}

.small-icon3 {
    width: 400px;
    position: absolute;
    right: 100px;
    top:200px;
    opacity: 0.5;
    transform: rotate(45deg);
    z-index: -1; }

@media screen and (max-width: 767px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .container-fluid{
    margin: 0;
    padding: 0;
  }
  .left {
    height: 120px;
  }
  .small-icon1 {
    width: 200px;
    position: absolute;
    left: 0px;
    top: 100px;
    opacity: 0.3;
    transform: rotate(30deg);
    z-index: -1;}

.small-icon2 {
    width: 180px;
    position: absolute;
    left: 0px;
    bottom: 90px;
    opacity: 0.3;
    transform: rotate(30deg); 
    z-index: -1;}

.small-icon3 {
    width:120px;
    position: absolute;
    right: 15px;
    top:260px;
    opacity: 0.5;
    transform: rotate(45deg);
    z-index: -1;}
}






/*.sci {
  position: absolute;
  display: flex;
  justify-items: center;
  color: black;
  bottom:-100px;
  right: 600px; }

.sci h3 {
  font-weight: 300;
  font-family: 'Rubik', sans-serif; }

.sci li {
  list-style: none;
  margin-left: 20px; }
  
.sci li img {
  max-width: 30px; }*/