@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Martel:wght@200&family=Satisfy&display=swap');
.container-fluid {
	margin: 0;
	padding: 0;
}
body {
    overflow-x: hidden;
    background: linear-gradient(45deg,#735092,#ff8466,#ff6f4c);
}
nav {
 		display: flex;
 		flex-direction: row;
 		justify-content: flex-start;
	 	font-style: normal;
	 	font-weight: normal;
	 	background-image: linear-gradient(to right, black , #919dab);
}  
.navbar-light .navbar-brand {
   color: white
}  
.navbar-light .navbar-nav .nav-link {
    color: white;
}
h1 {
   font-family: 'Cinzel', serif;
   margin-top: 15px;

}
.sci {
  position: absolute;
  display: flex;
  justify-items: center;
  color: black;
  bottom:-100px;
  right: 600px;
}
.sci h3 {
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
}
.sci li {
  list-style: none;
  margin-left: 20px;
}
.sci li img {
  max-width: 30px;
}