@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
.container-fluid {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
	background-color: #91A4B8 !important;
}
#colornav{
	background-image: linear-gradient(to right, black , #919dab);
}
nav {
	background-image: linear-gradient(to right, black , #919dab);
}
.navbar-light .navbar-brand {
   color: white;
   text-shadow : 0 0 20px #fff;
}  
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.transform {
	transform: translate(270px,150px);	
}
.contenedor {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 500px 150px; 
}	
.contenedor div {
	background-color: #91A4B8;
	
}
.gridContainer {
	display: grid;
	grid-template-areas: 
	"itemsProdu itemsProdu";
	grid-template-columns: 50% 50% ;
	grid-template-rows: 0px 600px 0px 0px;
}
section.itemsProdu {
	grid-area: itemsProdu;
}
.item1 ul {
	display: flex;
	justify-content: center;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 40px;
	color: white;
	text-shadow: 0 0 15px #fff;
}
.item1 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 420px;
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	margin-left: 60px;
	margin-top: 20px;
	color: white;
	background-color: green;
}
.item2 ul {
	display: flex;
	justify-content: center;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 40px;
	color: white;
	text-shadow: 0 0 15px #fff;
}
.item2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 420px;
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	margin-left: 60px;
	margin-top: 20px;
	color: white;
	border: none;
	background-color: #91A4B8;
}
h3 {
	font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
	color: white;
}
#precio {
	font-weight: bold;
}
.sci {
  position: absolute;
  display: flex;
  justify-items: center;
  color: white;
  bottom:-10px;
  right: 600px;
}
.sci h3 {
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
}
.sci li {
  list-style: none;
  margin-left: 20px;
}
.sci li img {
  max-width: 30px;
}
.footer {
	margin-top: 60px;
}
/*VERSION MOBILE*/
@media only screen and (min-width: 0px) and (max-width: 767px){
	.contenedor{
	display: grid;
	grid-template-areas: 
	"item1"
	"item2"
	"carusel"
	"footer";
	grid-template-columns:1fr;
	grid-template-rows: 60rem 10rem 10rem 12rem;
}
.transform {
	display: none;
}
.item1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 420px;
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	margin-left: 15px;
	margin-top: 0px;
	grid-area: "item1";
}
.item1 ul {
	font-size: 35px;
	margin-left: -45px;
	margin-top: 30px;
}
.item2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 430px;
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	margin-left: 10px;
	grid-area: "item2";
}
.item2 ul {
	font-size: 35px;
	margin-left: -40px;
}
.container-fluid {
	grid-area: "carusel";
}
.footer {
		grid-area: "footer";
		padding-bottom: 60px;
}
.sci {
  position: absolute;
  display: flex;
  justify-items: center;
  color: white;
  bottom:-565px;
  right: 80px;
  grid-area: "footer";
}
.sci h3 {
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
}
.sci li {
  list-style: none;
  margin-left: 20px;
}
.sci li img {
  max-width: 30px;
}
}