@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



.container-fluid {
	margin: 0;
	padding: 0; }

body {
	overflow-x: hidden;
	background: linear-gradient(45deg,#735092,#ff8466,#ff6f4c); }

.bg-light {
  background-color: transparent!important; }

.navbar-light .navbar-brand {
  padding-top: 20px;
  margin-left: 50px; }

.navbar-light .navbar-nav .nav-link {
  padding-top: 25px;
  font-size: 20px;
  color: white; }

.navbar-nav {
   margin-left: auto;
   margin-right: 80px;
   font-family: 'Rubik', sans-serif; }

.product-list{
 	background-color: transparent; }

.product-list .card {
	background-color: #FEA47F;
	border-radius: 10px;
	padding: 1em;
	box-shadow: 0px 10px 5px #cd6133;
	text-align: center;
	font-family: Alegreya, sans-serif; }

.card .title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 1em;
	font-family: Montserrat , sans-serif; }
 
.card img {
	max-width: 100%;
	border-radius: 5px; }

.card .text {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 23px; }

.buy-button{
	background-color: #ffeaa7;
	border: none;
	padding: 1em;
	border-radius: 5px;
	font-weight: bold; }

.buy-button:hover{
	box-shadow: 0px 5px 5px #b2bec3;
	color: #e17055; }

.product-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 40px; }

.align-center {
	font-size: 60px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "Caveat",sans-serif; }

.sci {
  position: absolute;
  display: flex;
  justify-items: center;
  color: white;
  bottom:-10px;
  right: 600px; }

.sci h3 {
  font-weight: 300;
  font-family: 'Rubik', sans-serif; }

.sci li {
  list-style: none;
  margin-left: 20px; }

.sci li img {
  max-width: 30px; }

.footer {
	margin-top: 60px; }

/*VERSION MOBILE*/
@media only screen and (min-width: 0px) and (max-width: 767px){
	.product-container{
	display: grid;
	grid-template-columns: 1fr; }

  
}