<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Laboratorio de fotografía Analógica 35mm y 120mm c-41 , blanco y negro , cine . Situado en Zona Oeste">
	<meta name="keywords" content="laboratorio fotografia analogica 35mm 120mm blanco y negro c-41 cine revelado digitalizado ">
	<title>Nuestros productos y servicios </title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/estiloServicio.css">
</head>	
<body>
	<!--Barra de navegación</!-->
	<div class="container-fluid" id="colornav">
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href=""><img src="../assets/images/logo.png" alt="logo" width="140px"></a>
					 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					   <span class="navbar-toggler-icon"></span>
					 </button>
					  <div class="collapse navbar-collapse" id="navbarNav">
					    <ul class="navbar-nav">
					      <li class="nav-item">
					        <a class="nav-link" href="../index.html">Inicio</a>
					      </li>
					       <li class="nav-item">
					        <a class="nav-link" href="film.html">Film</a>
					      </li>
					     <li class="nav-item">
					        <a class="nav-link" href="nosotros.html">Nosotros</a>
					      </li>
					       <li class="nav-item">
					        <a class="nav-link" href="contacto.html">Contacto</a>
					      </li>
						  <div class="cart">
							<ion-icon name="cart-outline"></ion-icon><a class = "nav-link" href="carrito.html">Carrito <span class="itemNum" >0</a></span>
						  </div>
					    </ul>
					  </div>
					</nav>	
				</div>
			</div>
	</div>
	
<section class="info">
	<div class="importante">
		<h1>Información importante!</h1><br>
		<p>Luego de haber realizado la entrega de los rollitos , el tiempo de entrega de los servicios varía entre <b>3 y 6 dias hábiles.</b> Si se necesita con menor tiempo, se puede recurrir al <b>servicio express , el cual tiene un valor agregado del 50% del mismo</b></p>
		<p>El digitalizado de las imagenes será realizado en <b>3200 Dpi</b> , de querer mayor calidad por favor avisar con anticipación (costo adicional)</p>
		<p>La entrega de las imagenes es efectúada vía <b>WeTransfer o Google Drive</b></p>
		<p>Una vez realizado el envío se dispone de <b>1 mes</b> para coordinar el retiro de los negativos . Pasada la fecha correspondiente , seran desechados.</p>
	</div>
</section>
<section class="product-list" id="productos">
	<div>
		<h1 class="align-center">Servicios y Productos</h1>
	</div>
	<!-- Primer producto</!-->
<div data-aos="fade-up"
     data-aos-duration="1500">
	<div class="product-container">
	<div class="card">
		<div class="title">Revelado y Digitalizado C-41</div>
		<div class="image"><img src="../assets/images/revelado1.jpg" alt="rollo35mm"></div>
		<div class="text">$450</div>
		<button id= 'boton' class="buy-button">Añadir a carrito</button>
	</div>
	<!-- Segundo producto</!-->
	<div class="card">
		<div class="title">Revelado y Digitalizado B&N</div>
		<div class="image"><img src="../assets/images/revelado2.jpg" alt="rollo35mm"></div>
		<div class="text">$500</div>
		<button id= 'boton1' class="buy-button">Añadir a carrito</button>
	</div>
	<!-- Tercer producto</!-->
	<div class="card">
		<div class="title">Revelado y Digitalizado ECN-2</div>
		<div class="image"><img src="../assets/images/revelado4.jpg" alt="rollo35mm"></div>
		<div class="text">$500</div>
		<button id= 'boton2' class="buy-button">Añadir a carrito</button>
	</div>
	<!--Cuarto producto</!-->
	<div class="card">
		<div class="title">Revelado y Digitalizado FilmSoup</div>
		<div class="image"><img src="../assets/images/revelado3.jpg" alt="rollo35mm"></div>
		<div class="text">$500</div>
		<button class="buy-button">Añadir a carrito</button>
	</div>
	<!--Quinto producto</!-->
	<div class="card">
		<div class="title">Rollo Magia 35mm</div>
		<div class="image"><img src="../assets/images/rollo2.jpg" alt="rollo35mm"></div>
		<div class="text">$1200</div>
		<button  class="buy-button">Añadir a carrito</button>
	</div>
	<!--Sexto producto</!-->
	<div class="card">
		<div class="title">Rollo Cetro 35mm</div>
		<div class="image"><img src="../assets/images/rollo1.jpg" alt="rollo35mm"></div>
		<div class="text">$1200</div>
		<button  class="buy-button">Añadir a carrito</button>
	</div>
	<!--Septimo producto</!-->
	<div class="card">
		<div class="title">Llaveros Chasis</div>
		<div class="image"><img src="../assets/images/llavero.jpg" alt="rollo35mm"></div>
		<div class="text">$150</div>
		<button  class="buy-button">Añadir a carrito</button>
	</div>
	<!--Octavo producto</!-->
	<div class="card">
		<div class="title">Remeras</div>
		<div class="image"><img src="../assets/images/remera.jpg" alt="remera"></div>
		<div class="text">$2000</div>
		<button  class="buy-button">Añadir a carrito</button>
		</div>
	</div>
</div>
</section>
<!--Footer</!-->
<footer>
        <div class="footer-content">
            <h3>loki laboratorio</h3>
            <p>Gracias por confiar en nosotros ! Podes encontrarnos en nuestras redes sociales :</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>                
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 diseñado por <span>julian paris</span></p>
        </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script>
  AOS.init();
</script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	 crossorigin="anonymous"></script>
 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="../js/carrito.js"></script>
</body>
</html>